<form method="post">
    <div>
        <label>RoomI d</label>
        <input type="number"  name="id" />
    </div>

    <div>
        <label>Room Number</label>
        <input type="text" name="number"/>
    </div>

    <div>
        <label>Capacity</label>
        <input type="number" name="capacity">
    </div>
    <div>
        <button>Save Changes</button>
    </div>
</form>