<i class="fas fa-upload"></i>
<form name="frm" method="post" enctype="multipart/form-data">
    
        <input accept="image/*"  type="file" name="f"/>
 
</form>

<style>
    form[name="frm"]{
        display: none;
    }
</style>

<script>
    $('.fa-upload').click(() => {
        
        frm['f'].click();

    });

    $(frm['f']).change(() => {
        frm.submit();

    });
</script>