<form method="post" enctype="multipart/form-data">
    <div>
        <label>M Image</label>
        <input type="file" name="af" accept="image/*" multiple />
    </div>
    <div>
        <button>Upload</button>
    </div>

</form>