<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/css/all.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/css/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
