@model WebApp.ViewModels.RegisterModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <div>
        <label asp-for="Username">Username</label>
        <input type="text" asp-for="Username" />
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input type="text" asp-for="Password" />
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input type="text" asp-for="Email" />
    </div>
    <div>
        <label asp-for="Gender">Gender</label>
        <select asp-for="Gender">
            <option value="0">Male</option>
            <option value="1">Female</option>
        </select>
    </div>
    <div>
        <button>Register</button>
    </div>
</form>