<div class="card">
    <div class="card-header">
        <div class="card-title">Sent Email Success</div>
    </div>
    <div class="card-body">
        <p>Please check your email: <b>@TempData["email"]</b></p>
    </div>
</div>