@model WebApp.Models.Group
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<form action="/group/create" method="post">
  
    <div>
        <label asp-for="Size"></label>
        <input type="number" asp-for="Size" />
    </div>
    <div>
        <button>Save Changes</button>
    </div>
</form>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>GroupId</th>
            <th>GroupSize</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApp.Models.Group item in ViewBag.groups)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>@item.Size</td>

            </tr>
        }
    </tbody>
</table>