@model List<WebApp.Models.Member>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                     <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.Gender</td>
                    <td>
                        <a href="/member/role/@item.Id">Roles</a>
                    </td>
                </tr>
            }
    </tbody>
</table>