<form method="post">
    <div>
        <label>Weekday</label>
        <input type="text" name="weekday" />
    </div>

    <div>
        <label>StartTime</label>
        <input type="datetime" name="start">
    </div>

    <div>
        <label>EndTime</label>
        <input type="datetime" name="end">
    </div>

    <div>
        <button>Save Changes</button>
    </div>
</form>