@model WebApp.Models.Timeslot
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <div>
        <label asp-for="Weekday">Weekday</label>
        <input type="text" asp-for="Weekday" />
    </div>

    <div>
        <label asp-for="Start">StartTime</label>
        <input type="time" asp-for="Start">
    </div>

    <div>
        <label asp-for="End">EndTime</label>
        <input type="time" asp-for="End">
    </div>

    <div>
        <button>Save Changes</button>
    </div>
</form>