@model List<WebApp.Models.Timeslot>
<a href="/timeslot/create">Create</a>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                Weekday
            </th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Weekday
                </td>
                <td>@item.Start</td>
                <td>@item.End</td>   
                <td><a href="/timeslot/edit/@item.Id">Edit</a></td>
                <td><a href="/timeslot/delete/@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>